/* Buttons */
.btn {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 2rem;
    border: 0;
    border-radius: 40px;
    color: #f3f9fa;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    margin: 2rem 0;
}
.btn--primary {
    background: var(--color-primary);
}
.btn--primary:hover {
    background: #3a8ffd;
}

.btn--secondary {
    background: var(--color-secondary);
}
.btn--secondary:hover {
    background: #00c8eb;
}

.btn--accent {
    background: var(--color-accent);
}
.btn--accent:hover {
    background: #ec3000;
}

.btn--stretch {
    padding-left: 6rem;
    padding-right: 6rem;
}
.btn--block {
    width: 100%;
    display: inline-block;
}
.btn--outline {
    background: #fff;
    color: var(--color-heading);
    border: 2px solid var(--color-heading);
}
.btn--outline:hover {
    background: var(--color-heading);
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}